h1,h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: pink;
    position: absolute;
    top: 200px;
    width: 100%;
    display: block;
}
.to-the-right {
    text-align: right;
}
.image {
    display: block;
    top: 50%;
    position: relative;
    width: 100%;
    text-align: center;
}
.floating {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    color: pink;
    text-align: center;
    display: block;
    top: 70%;
    text-decoration: 
    /*border: 2px solid red;*/
}

.link{
    text-decoration: none;
    color: black;
}